<!DOCTYPE html>
<html lang="en">

<head>
  <title>Danh sach bao cao</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>

  <div class="container">
    <h2 style="text-align: center; margin-top: 20px;">Danh sách báo cáo</h2>
    <!-- <p>The .table class adds basic styling (light padding and horizontal dividers) to a table:</p>             -->
    <br>

    <table class="table">
      <thead>
        <tr style="text-align: center;">
          <th>STT</th>
          <th>Tên báo cáo</th>
          <th>Phòng ban</th>
          <th>Thời gian tạo</th>
          <th>Hành động</th>
        </tr>
      </thead>
      <tbody>
        <% if(report.length != 0) {%>
        <% for(let i = 0; i < report.length; i++){%>
        <tr style="text-align: center;">
          <td><%= i+1 %></td>
          <td><%= report[i].name%></td>
          <td><%= report[i].department_name%></td>
          <td><%= report[i].created_time%></td>
          <td>
            <button style="border: none;" type="button" class="btn btn-outline-info">
              <a href="/view/report/<%= report[i].id %>">
                <i class="fa fa-info-circle" aria-hidden="true"></i> Xem chi tiết
              </a>
            </button>
            <br>
            <button style="border: none;" class="btn btn-outline-danger delete_report" report_id="<%= report[i].id%>"
              report_name="<%= report[i].name %>">
              <i class="fa fa-trash-o" style="font-size: x-large;"></i>
            </button>
          </td>
        </tr>
        <% }%>

        <%} else {%>
        <tr style="text-align: center;">
          <td colspan="5"> <p style="color: gray;">Hiện tại không có báo cáo</p></td>
        </tr>
        <%}%>
    </tbody>
    </table>
    <hr>
  </div>
  <script src="/static/js/post.js"></script>

</body>

</html>