<!DOCTYPE html>
<html lang="en">

<head>
    <title>Thông tin người dùng</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.min.css"
        integrity="sha256-Md8eaeo67OiouuXAi8t/Xpd8t2+IaJezATVTWbZqSOw=" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"> -->
</head>

<body>

    <div class="wrapper">
        <% include ./components/sidebar1_custom %>
        <div class="container">
            <h3 style="text-align: center; margin: 15px;">Thông tin tài khoản</h3>

            <div class="table-responsive text-center">
                <table class="table table-hover table-bordered table-striped table-condensed">
                    <tbody>
                        <tr>
                            <th>Token</th>
                            <td style="word-break: break-all;">
                                <%= user.token%>
                            </td>
                        </tr>
                        <tr>
                            <th>Id</th>
                            <td><%= user.user._id%></td>
                        </tr>
                        <tr>
                            <th>User Id</th>
                            <td><%= user.user.userId%></td>
                        </tr>
                        <tr>
                            <th>Tên tài khoản</th>
                            <td><%= user.user.username%></td>
                        </tr>
                        <tr>
                            <th>Họ và tên</th>
                            <td><%= user.user.name%></td>
                        </tr>
                        <tr>
                            <th>Số điện thoại</th>
                            <td><%= user.user.phoneNumber%></td>
                        </tr>


                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script src="/static/js/post.js"> </script>
</body>

</html>